@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
*{box-sizing: border-box;}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
}

.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #6764EA;
}

.vertical_container button{
    color: blanchedalmond;
    font-size: medium;
    height: 10vh;
    box-shadow: 0px 6px 2px #000;
    background-color: #0038FF;
}

.container_content{
    display: grid;
    grid-template-rows: 15% 10% 75%;
    background-color: #96A7E1;
}

.container_content h1{
    font-family: 'Kodchasan', sans-serif;
}

.title{
    display: grid;
    justify-items: center;
}

.box_list{
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    gap:1%;
    border: 5px solid #ccc;
    margin: 2%;
}