@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
*{box-sizing: border-box;}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
}

.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #6764EA;
}

.vertical_container button{
    color: blanchedalmond;
    font-size: medium;
    height: 10vh;
    box-shadow: 0px 6px 2px #000;
    background-color: #0038FF;
}

.container_content{
    display: grid;
    grid-template-rows: 15% 10% 75%;
    background-color: #96A7E1;
}

.container_content h1{
    font-family: 'Kodchasan', sans-serif;
}

.title{
    display: grid;
    justify-items: center;
}
.selector{
    margin: 20px;
    padding: 0 auto;
    margin-top: 5px;
}
select{
    font-size: 14px;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.box_list{
    display: block;
    margin: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th {
    background-color: #6764EA;
    position: relative;
    top: 0;

}

thead{
    height: 10%;
}

table,th,td {
    border: 2px solid black;
    padding: 5px;
}

th:nth-child(1),
td:nth-child(1) {
    width: 40%; /* Ajuste o valor conforme necessário */
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%; /* Ajuste o valor conforme necessário */
}

th:nth-child(3),
td:nth-child(3) {
    width: 25%; /* Ajuste o valor conforme necessário */
}

th:nth-child(4),
td:nth-child(4) {
    width: 13%; /* Ajuste o valor conforme necessário */
}